<p>Add a new definition:</p>

<form action="/definitions" method="post">
  <label for="addDefinition">New definition</label>
  <input id="addDefinition" name="addDefinition" type="text">

  <button type="submit" class="btn btn-warning">Add a new definition</button>
</form>
