<p>Add a new word:</p>

<form action="/words" method="post">
  <label for="addWord">New definition</label>
  <input id="addWord" name="addWord" type="text">

  <button type="submit" class="btn btn-warning">Add a new word</button>
</form>
